h1 {
	font-family: 'oswald', sans-serif; /* Added font family "Oswald" to HTML as instructed by Google Fonts. Set to normal 400. */
	color: #00387F;
	text-shadow: 2px 2px #0071FF;
	text-align: center;
	font-size: 2.3em;
}
h2, h3 {
	font-family: 'oswald', sans-serif; /* Added font family "Oswald" to HTML as instructed by Google Fonts. Set to normal 400. */
	color: #00387F;
	text-shadow: 2px 2px #0071FF;
	text-align: center;
}
p {
	text-align: left;
	font-size: 1.1em
}
body {
	text-align: center;
	background: #5D6C7F;
	padding: 15px;
	border: 3px solid #000000;
	border-radius: 10px 10px;
	
}
ul {
	text-align: center;
	list-style-type: none;
	
}
li {
	display: inline-block;
	background-color: #005ACC;
	padding: 2px 6px 2px 6px;
	box-shadow: 3px 3px;
	border-radius: 8px 8px;
}
a:link {
	text-decoration: none;
	color: #000000	
}
a:hover {
	font-size: 1.1em;
	color: #FFFFFF
}
#eclips, #cessna, #honda, #airbus {
	text-align: center;
	display: block;
	border: 3px solid #000000;
	border-radius: 4px 4px;
	padding: 5px 5px;
}
 img {
	padding 15px 15px;
	border: 3px solid #000000;
	border-radius: 3px 3px;
	box-shadow: 2px 2px #4E5B6B;
}
figcaption {
	font-family: 'oswald', sans-serif;
}
blockquote {
	padding: 5px;
	border: 3px solid #000000;
	background-color: #00387F	

}
#intro {
	font-family: 'oswald', sans-serif;
	font-size: 1.4em;
}